/* =Typography
-----------------------------------------------------------------------------*/
body {
font-family: 'Fresca', sans-serif;
background-color:#DDD;
}
	
/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/
#page {
	width: 940px;
	padding: 0 10px;
	margin: 24px auto;
}

.bg-blue {
    background-color:#7e9ec7;
}
.bg-blue a{
    color: #DDD;
}
.bg-lightblue {background-color:#B0C4D4}

#container {
    margin-top: 25%;
    width: 100%;
}
.margin{
   display: block;
   margin-left: auto;
   margin-right: auto; 
}
.topmargin{
    margin-top: 1em;
    margin-right: 1em;
    text-align: justify;
}
.center{
    text-align: center;
}
.no-bullet{
    list-style:none;
}
.no-bullet li{
    margin-bottom: 0.5em;
}
#footer{
    color: #999;
}
/* =Header
-----------------------------------------------------------------------------*/


/* =Nav
-----------------------------------------------------------------------------*/


/* =Misc
-----------------------------------------------------------------------------*/
 img#photo {
     display:block;
    width: 128px;
    margin-left:auto;
    margin-right: auto;
    border: 10px solid #DDD; 
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari and Chrome */
    -o-transform: rotate(-5deg); /* Opera */
    -moz-transform: rotate(-5deg); /* Firefox */
} 
h1 {
    margin-left: 0.5em;
    transform: rotate(5deg);
-ms-transform: rotate(5deg); /* IE 9 */
-webkit-transform: rotate(5deg); /* Safari and Chrome */
-o-transform: rotate(5deg); /* Opera */
-moz-transform: rotate(5deg); /* Firefox */
    font-family: 'Changa One', serif;	
}
.shadow
{
box-shadow: 5px 5px 5px #888888;
}
/* =Footer
-----------------------------------------------------------------------------*/
